*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

div{
    width: 500px;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
}

div img{
    width: 200px;
}